.banner {
  background-size: cover;
  background-position: center;
  height: 800 px;
  color: white;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-bottom: 30px;
}

.banner .container h2 {
  font-size: 35px;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3)
}

.banner .container p {
  font-size: 25px;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.3)
  color: #FAFDF6;
}
